@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

*,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

body {
	background: #fffdff;
	color: #262727
}

.videoWrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center
}

#myVideo {
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
	width: 100%
}

.scrollDown {
	color: #fffdff;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	position: absolute;
	top: 0;
	top: 90vh
}

.arrowDown {
	border-radius: 5px;
	border-right: 5px solid #fff;
	border-top: 5px solid #fff;
	display: block;
	height: 30px;
	margin-left: 40%;
	rotate: 135deg;
	width: 30px
}

.wrapper {
	margin: 50px auto;
	max-width: 1200px
}

.headerSh {
	display: flex;
	justify-content: space-between;
	width: 100%
}

.planet {
	height: 100px;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	width: 100px
}

header .logo {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	letter-spacing: 7px;
	padding-top: 50px
}

header .presentation {
	background-size: cover;
	height: 600px;
	margin: 50px 0;
	width: 100%
}

.cart {
	cursor: pointer;
	right: 10vw;
	top: 8vh;
	-webkit-transform: scale(3);
	transform: scale(3);
	z-index: 99
}

.cart,
.openCart.false {
	position: fixed;
	transition: all .3s
}

.openCart.false {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: hsla(0, 0%, 100%, .8);
	border: 1px solid #000;
	border-radius: 20px;
	height: 100vh;
	left: 0;
	opacity: 1;
	top: 0vh;
	width: 100vw;
	overflow-y: scroll;
}

.openCart.active {
	opacity: 1;
	transition: all .3s
}

.smallImg {
	height: 150px;
	padding: 10px;
	width: 150px
}

.under_header {
	margin-top: 6vh;
	text-align: center;
	width: 100%
}

.addToOrders {
	cursor: pointer;
	font-size: 20px;
	padding-bottom: 2px;
	transition: all .3s
}

.addToOrders:hover {
	background-color: #e6e6e6;
	color: #000;
	font-size: 25px;
	transition: all .3s
}

.order {
	border: 1px solid;
	display: flex;
	justify-content: space-evenly;
	transition: all .3s
}

.order1 {
	font-weight: 700;
	height: 120px;
	padding-top: 25px;
	width: 250px
}

.orders {
	color: #000;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	opacity: 1;
	padding-top: 30px;
	text-align: left;
	width: 100%;
	z-index: 10
}

.trash {
	color: #858585;
	transition: all .2S
}

.trash,
.trash:hover {
	cursor: pointer;
	-webkit-transform: scale(1.6);
	transform: scale(1.6)
}

.trash:hover {
	color: red
}

.styledNothing {
	color: #000;
	font-size: 25px;
	padding-top: 10px
}

.delivery {
	font-size: 18px;
	font-weight: 600
}

.categories {
	display: flex;
	height: 30px;
	justify-content: space-between;
	width: 60%
}

.categoryItem {
	border: 1.5px solid #000;
	cursor: crosshair;
	font-size: 16px;
	height: 22px;
	margin-right: 10px;
	padding-left: 3px;
	text-align: left;
	transition: all .2s;
	width: 10vw
}

.categoryItem:hover {
	color: #014085;
	font-size: 15px;
	transition: all .2s
}

.products {
	grid-column-gap: 5px;
	-webkit-column-gap: 5px;
	column-gap: 5px;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-between;
	margin-top: 40px;
	text-align: center
}

.products,
h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

h2 {
	font-size: 22px;
	font-weight: 700;
	padding-bottom: 6px
}

h3 {
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 10px
}

.price,
h3 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

.price {
	font-size: 18px;
	font-weight: 600
}

.prevPrice {
	color: #8f8f8f
}

.item {
	border: 1px solid #262727;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 20px 0;
	border-radius: 10px;
	transition: all .3s
}

.item:hover {
	border: 4px solid #494949;
	transition: all .2s;
}

.product_img {
	max-height: 250px;
	margin-bottom: 0;
	margin-top: -5vh;
	max-width: 85%;
}

.priceDesc {
	margin-bottom: 30%
}

.modalWindow {
	background-color: hsla(0, 0%, 100%, .9);
	bottom: 0;
	display: flex;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	transition: all .5s;
	width: 100%;
	z-index: 999
}

.modalWindowImg {
	height: 500px;
	margin-left: 18vw;
	margin-right: 40px;
	margin-top: 20vh;
	width: 500px
}

.modalWindowAbout {
	display: inline;
	text-align: left
}

.modalWindowTitle {
	font-size: 25px;
	font-weight: 700;
	margin-left: 5vw;
	margin-top: 24vh
}

.modalWindowDesc {
	font-size: 20px;
	margin-bottom: 20px;
	margin-left: 5vw;
	margin-top: 0;
	width: 30vw
}

.modalWindowPrice {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 1vh;
	margin-left: 5vw;
	margin-top: 2vh
}

.modalWindowAdd {
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	margin-left: 5vw;
	margin-right: 5vw;
	padding: 7px 7px 7px 0;
	transition: all .3s;
	width: 30vw
}

.modalWindowAdd:hover {
	background-color: #000;
	color: #fffdff;
	font-size: 20px;
	padding-left: 10px;
	transition: all .3s
}

.modalWindow .active {
	transition: all .3s
}

.allModal {
	border: 1px solid #000
}

.modalWindowSubDesc {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-left: 5vw;
	width: 30vw
}

.fullOrder.active {
	opacity: 100%;
	transition: .5s cubic-bezier(.075, .82, .165, 1)
}

.fullOrder.false {
	opacity: 0;
	transition: all .3s
}

.backFocus {
	background-color: #00000065;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1
}

.footer {
	margin-left: 46%
}

.footerImg {
	height: 100px;
	margin-top: 5vh;
	text-align: center;
	width: 100px
}

.footerSlo {
	margin-left: -50px
}
.closeButton{
	cursor: pointer;
	transition: all 0.5s;
	transform: scale(2);
	position: absolute;
	left: 10vw;
	top: 10vh;
}

.closeButton:hover{
	transition: all 0.5s;
	color: red;
}

.orderForm{
	margin-top: 10px;
}

.input{
	margin: 5px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 50px;
	border-color: #9e9e9e;
}
.inputSubmit{
	padding: 5px;
	background-color: none;
}

.input:focus{
	border-color: #000000;
}

.videoWrapper{
	background-image: url(img/airflow_Moment.jpg);
}

@media(max-width:1600px){
	.modalWindowImg{
		height: 430px;
		width: 430px;
	}
}

@media (max-width:700px) {
	header .logo {
		font-size: 12px
	}
	.videoWrapper{
		background-image: url(img/airflow-mobile_Moment.png);
	}

	.products {
		-webkit-column-gap: -10px;
		column-gap: -10px;
		grid-template-columns: repeat(2, 1fr)
	}

	.priceDesc h2 {
		font-size: 17px
	}

	h3 {
		font-size: 12px
	}

	.price {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
		font-size: 15px;
		font-weight: 600
	}

	.product_img {
		height: 150px;
		margin-bottom: 0;
		margin-top: -5vh;
		width: 80%
	}

	.orders{
		margin-bottom: 0;
		padding-top: 0;
		font-size: 14px;
	}

	.delivery{
		font-size: 14px;
	}

	.price{
		font-size: 14px;
	}

	.categoryItem {
		width: 40vw
	}

	.categories {
		display: flex;
		height: 20px;
		padding-left: 10px;
		width: 100%
	}

	.planet {
		height: 70px;
		-webkit-transform: translate(-6px, 20px);
		transform: translate(-6px, 20px);
		width: 70px
	}

	.logo {
		letter-spacing: 3px
	}

	.categoryItem,
	.logo {
		font-size: 15px
	}

	.modalWindowImg {
		height: 250px;
		margin-left: 15px;
		margin-right: 20px;
		margin-top: 5vh;
		width: 250px
	}

	.modalWindowTitle {
		font-size: 20px;
		font-weight: 700;
		margin-left: 4vw;
		margin-top: 3vh;
		text-align: center
	}

	.modalWindowPrice {
		font-size: 19px
	}

	.modalWindowDesc,
	.modalWindowPrice {
		margin-left: 4vw;
		text-align: center;
		width: 90vw
	}

	.modalWindowDesc {
		font-size: 15px;
		margin-bottom: 20px;
		margin-top: 0
	}

	.modalWindowSubDesc {
		text-align: center;
		width: 90vw
	}

	.modalWindow {
		display: block
	}

	.openCart.false {
		top: 0
	}

	.modalWindowAdd {
		text-align: center;
		width: 90vw
	}

	.trash {
		left: -5px;
		top: 0
	}

	.headerSh {
		padding-left: 10px;
		padding-right: 10px
	}

	.footerSlo {
		margin-left: -18vw
	}

	.footer {
		margin-left: 40%
	}

	.item {
		margin-bottom: 10px
	}

	.categoryItem {
		font-size: 13px
	}

	.categoryItem:hover {
		color: #014085;
		font-size: 14px;
		transition: all .2s
	}

	.order1 {
		padding-left: 20px
	}

	.scrollDown {
		top: 80vh;
		font-size: 25px;
	}

	.footerImg {
		height: 70px;
		width: 70px
	}

	.trash {
		cursor: pointer;
		position: inherit;
		-webkit-transform: scale(2);
		transform: scale(2);
		transition: all .2S
	}

	.orderForm{
		display: grid;
	}
}